<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Courses - Remove {{id}}</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1>Are you sure you want to delete the following course?</h1>
        <!-- <form class="" action="confirm_delete" method="post">
            {% csrf_token %}
            <input type="submit" name="yes_delete" value="Yes! I want to delete this">
            <input type="submit" name="no_delete" value="No">
        </form> -->
        <div class="delete">
            <label>Name:</label><p>{{course.course_name}}</p> <br>
            <label>Description:</label><p>{{course.description.description}}</p> <br>
        </div>
        <form action="/course/{{course.pk}}/destroy_confirm" method="post">
            {% csrf_token %}
            <input type="submit" name="yes_delete" value="Yes! I want to delete this">
        </form>
        <form action="/" method="get">
            {% csrf_token %}
            <input type="submit" name="no_delete" value="Cancel">
        </form>
    </body>
</html>
